{% extends 'accounts/base.html' %}

{% block title %}登陆{% endblock %}

{% block content %}
<div class="sign-form-container">
    <div class="hero-unit sign-form">
        <h2 class="title">登陆</h2>
        <form action="{% url signin %}" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-row">
                <label for="id_username" class="required">{{ form.username.label }}</label>{{ form.username }} {{ form.username.errors }}            </div>
            <div class="form-row">
                <label for="id_password" class="required">{{ form.password.label }}</label>{{ form.password }} {{ form.password.errors }}
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <div class="submit-row">
                <input type="submit" value="登陆" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

    <script type="text/javascript">
        $('#id_username').focus();
    </script>
{% endblock %}

