{% extends 'accounts/base.html' %}

{% block title %}注册{% endblock %}

{% block content %}
    <div class="sign-form-container">
        <div class="hero-unit sign-form">
            <h2 class="title">注册</h2>
            <form action="{% url signup %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-row" title="{{ form.username.help_text }}">
                    <label for="id_username" class="required">{{ form.username.label }}</label>{{ form.username }} {{ form.username.errors }}
                </div>
                <div class="form-row" title="{{ form.email.help_text }}">
                    <label for="id_email" class="required">{{ form.email.label }}</label>{{ form.email }} {{ form.email.errors }}
                </div>
                <div class="form-row" title="{{ form.password1.help_text }}">
                    <label for="id_password1" class="required">{{ form.password1.label }}</label>{{ form.password1 }} {{ form.password1.errors }}
                </div>
                <div class="form-row" title="{{ form.password2.help_text }}">
                    <label for="id_password2" class="required">{{ form.password2.label }}</label>{{ form.password2 }} {{ form.password2.errors }}
                </div>
                <div class="submit-row">
                    <input type="submit" value="提交" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        $('#id_username').focus();
        $('.form-row').tooltip({delay: { show: 300, hide: 300 },placement:'right'});
    </script>
{% endblock %}