.login-wp{
    width:500px;
    margin: 50px auto;
}
.login-form{
    width:263px;
    padding:20px 20px 20px 50px;
    margin:0 auto 0;
}
.login-form .title{
    margin-bottom: 10px;
}
.login-form form{
    margin-bottom: 10px;
}