body{
    font-family: "微软雅黑","方正兰亭黑","文泉驿正黑";
    text-shadow: 1.5px 1.5px 1.5px #aaa;
    padding-top: 60px;
    padding-bottom: 40px;
}

.hero-unit{
    background-color: rgba(238,238,238,0.6);
}
.navbar-inverse .navbar-inner{
    background-color: rgba(27,27,27,0.6);
    background-image: -moz-linear-gradient(top, rgba(34,34,34,0.6), rgba(17,17,17,0.6));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(34,34,34,0.6)), to(rgba(17,17,17,0.6)));
    background-image: -webkit-linear-gradient(top, rgba(34,34,34,0.6), rgba(17,17,17,0.6));
    background-image: -o-linear-gradient(top, rgba(34,34,34,0.6), rgba(17,17,17,0.6));
    background-image: linear-gradient(to bottom, rgba(34,34,34,0.6), rgba(17,17,17,0.6));
    background-repeat: repeat-x;
    border-color: red;
    border-bottom-width: 2px;
}

.brand{
    text-shadow: none;
}

.about .span4{
    text-align: center;
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: rgba(238,238,238,0.6);
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
             border-radius: 6px;
    border-top: solid 10px #aaaaaa;
}

.about .span8{
    padding: 10px 0 10px 0;
    margin-bottom: 30px;
 }

.errorlist{
    margin:0;
    padding:0;
    margin-bottom: 10px;
}
.errorlist li{
    width: 196px;
    color: #b94a48;
    background-color: #f2dede;
    border: 1px solid #eed3d7;
    border-radius: 4px 4px 4px 4px;
    padding: 8px 8px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.sign-form-container{
    margin: auto;
}
.sign-form{
    min-width: 200px;
    max-width: 240px;
    padding:auto;
    margin:0 auto 0;
}
.sign-form .title{
    margin-bottom: 10px;
}
.sign-form form{
    margin-bottom: 10px;
}

.article .title{
    display: block;
    background-color: #dddddd;
    padding: 5px 5px 10px 20px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
             border-radius: 6px;
    border-left: solid 10px #aaaaaa;
    margin-bottom: 10px;
}
.content{
    margin: 0 0 30px 0;
    background-color: #f5f5f5;
    padding: 5px 5px 5px 5px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
             border-radius: 6px;
    border: solid 5px #dddddd;
}

.top .title{
    border-left: solid 10px red;
}
.top h2 a{
    color: #800080;
}
.top h2 a:hover{
    color: #bb00bb;
}

.title .label a{
    color: #ffffff;
}
.title .label a:hover{
    color: #ccccff;
}


#s{
    -webkit-transition-duration: 400ms;
    -webkit-transition-property: width;
    -webkit-transition-timing-function: ease;
    -moz-transition-duration: 400ms;
    -moz-transition-property: width;
    -moz-transition-timing-function: ease;
    -o-transition-duration: 400ms;
    -o-transition-property: width;
    -o-transition-timing-function: ease;
    width: 28px;
}
#s:focus{
    width: 120px;
}

.input-append select{
    width: 66px;
}

@media (max-width: 512px){

    .sign-form-container .hero-unit{
        padding: 0;
        margin-bottom: 25px;
        background-color: transparent;
    }

    .hero-unit h1{
        font-size: 40px;
    }

    .lead{
        font-size: 16px;
    }
}