{% extends "base.html" %}

{% block title %}关于{% endblock %}

{% block content_title %}
{% endblock %}

{% block content %}

    <div class="about">

        <div class="row">
            <div class="span4">
                <h3>组织委员会</h3>

                <span class="label">顾&nbsp;&nbsp;&nbsp;&nbsp;问：邵贝贝 教授</span>
                <p>清华Freescale MCU&DSP 应用开发研究中心主任</p>

                <span class="label">主&nbsp;&nbsp;&nbsp;&nbsp;任：唐传祥 教授</span>
                <p>清华大学工程物理系系主任</p>

                <span class="label">副主任：陈少敏 教授</span>
                <p>清华大学工程物理系系副主任</p>

                <span class="label">副主任：马&nbsp;&nbsp;&nbsp;&nbsp;豪 老师</span>
                <p>清华大学工程物理系党委副书记</p>

                <span class="label">副主任：曾&nbsp;&nbsp;&nbsp;&nbsp;鸣 老师</span>
                <p>清华大学工程物理系 全国大学生智能车竞赛秘书处</p>

                <span class="label">副主任：卓&nbsp;&nbsp;&nbsp;&nbsp;晴 老师</span>
                <p>清华大学自动化系 全国大学生智能车竞赛秘书处</p>

                <span class="label">副主任：陆&nbsp;&nbsp;&nbsp;&nbsp;耿 老师</span>
                <p>清华大学自动化系</p>
            </div>

            <div class="span4">
                <h3>委员</h3>

                <span class="label">李延武</span>
                <p>团委书记</p>

                <span class="label">王达伟</span>
                <p>清华大学工程物理系学生科协主席</p>

                <span class="label">刘兴伟</span>
                <p>清华大学工程物理系学生科协技术部部长</p>

                <span class="label">王玥</span>
                <p>清华大学工程物理系学生科协组织部部长</p>

                <span class="label">陈羽加</span>
                <p>清华大学工程物理系学生科协常务副主席</p>
            </div>

            <div class="span4">
                <h3>比赛负责人</h3>

                <span class="label">刘兴伟</span>
                <p><a href="tel:15210581247">15201521405</a>
                    <br /><a href="mailto:lxwqq991224@126.com">lxwqq991224@126.com</a></p>

                <span class="label">王达伟</span>
                <p><a href="tel:13436529280">13436529280</a>
                    <br /><a href="mailto:wangdw09@mails.tsinghua.edu.cn">wangdw09@mails.tsinghua.edu.cn</a></p>

                <hr />
                <h3>网站负责人</h3>
                <span class="label">彭川</span>
                <p><a href="mailto:everpcpc@thudep.org">建议&Bug反馈 <i class="icon-envelope"></i></a>
                    <br /><a target="_blank" href="https://github.com/everpcpc/SmartCar">
                        网站代码由github托管 <i class="icon-share-alt"></i></a></p>
            </div>
        </div>

    </div>

{% endblock %}

{% block extrafooter %}
    <script type="text/javascript">
        $('#home').removeClass('active');
        $('#about').addClass('active');
    </script>
{% endblock %}