<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html" xml:lang="cn" lang="cn">
<head>
    <title>{{ site_name }} : {% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.css">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <!--[if lt IE 9]>
      <script src="/static/js/html5.js"></script>
    <![endif]-->
    <!--[if IE 6]>
    <link href="/static/css/ie6.min.css" rel="stylesheet">
    <![endif]-->
    {% block extrahead %}{% endblock %}
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">{{ site_name }}</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li id="home" class="active"><a href="/"><i class="icon-home icon-white"></i> 首页</a></li>
                    <li id="post"><a href="/post/"><i class="icon-file icon-white"></i> 公告栏</a></li>
                    <li id="team"><a href="/team/"><i class="icon-flag icon-white"></i> 参赛队伍</a></li>
                    <li id="discuss"><a href="/discuss/"><i class="icon-comment icon-white"></i> 吐槽</a></li>
                    <li id="about"><a href="/about/"><i class="icon-info-sign icon-white"></i> 关于</a></li>
                </ul>

                {% if user.is_authenticated %}

                {% endif %}

                <form class="navbar-form pull-right" action='{% url signin %}' method='post'>
                    {% csrf_token %}
                    {% if user.is_authenticated %}
                        <div class="btn-group">
                            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i>
                                {% firstof user.get_profile.real_name user.username %} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href=""><i class="icon-home"></i> 详细资料</a></li>
                                <li><a href=""><i class="icon-pencil"></i> 修改资料</a></li>
                                <li><a href=""><i class="icon-lock"></i> 修改密码</a></li>
                                <li><a href=""><i class="icon-envelope"></i> 修改邮箱</a></li>
                                {% if user.is_staff %}
                                    <li class="divider"></li>
                                    <li><a href="/admin/"><i class="icon-wrench"></i> 站点管理</a></li>
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{% url signout %}"><i class="icon-off"></i> 注销</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <input class="input-mini" name='username' type="text" placeholder="用户名">
                        <input class="input-mini" name='password' type="password" placeholder="密码">
                        <input class="btn" type="submit" value="登陆">
                    {% endif %}
                </form>

            </div>
        </div>
    </div>
</div>

<div class="container">

    <!--[if lt IE 9]>
      <div class="alert alert-error">
          <p>您一定在使用较低版本的IE浏览器，建议您更换更高版本的IE，或Google Chrome以及Firefox等（搜狗浏览器请开启高速模式）</p>
          <p>ps：低版本的IE神马的最讨厌了嘛…… >_< </p>
      </div>
      <![endif]-->
    {% block content_title %}{% endblock %}
    <hr />
    {% block content %}{% endblock %}

    <hr />

    <footer>
        <p>&copy; {{ org }} {{ year }}</p>
    </footer>

</div>

<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
{% block extrafooter %}{% endblock %}

</body>
</html>
